<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c %M(%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="DailyFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/logs-run.log" />
		<param name="datePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c %M(%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="RollingFile" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<param name="file" value="logs/logs-run.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c %M(%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<!-- level: FATAL,ERROR,WARN,INFO,DEBUG,TRACE -->
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="DailyFile" />
	</root>
</log4j:configuration>  